.cell-container{
  border-radius: 4px;
  transition: background-color .1s ease-in-out;
  float: left;
  background-color: #061165;
  margin: 2px;
  position: relative;

  &.px-0 {
    background-color: #061165;
  }

  &.px-1 {
    background-color: #061165;
  }

  &.px-2 {
    background-color: #061165;
  }

  &.px-3 {
    background-color: #061165;
  }

  &.px-4 {
    background-color: #061168;
  }

  &.px-5 {
    background-color: #061168;
  }

  &.px-6 {
    background-color: #06116f;
  }

  &.px-7 {
    background-color: #06116f;
  }

  &.px-8 {
    background-color: #06116f;
  }

  &.px-9 {
    background-color: #06117d;
  }


  &.alive{
    background-color: #9aa5ff;
    //border-color: #222;
  }
}
