.header-container{
  position: relative;
  z-index: 1;

  .cs-logo{
    height: 60px;
    background: url("../../assets/images/contentserv-logo.svg") no-repeat;
    float: left;
    margin: 30px 30px 30px 100px;
    width: 200px;
    pointer-events: none;
  }

  .menu-container{
    padding: 0 100px;
    text-align: end;

    .menu-item{
      display: inline-block;
      margin: 76px 30px 20px 30px;
      cursor: pointer;
      color: #9ea7ff;
      transition: color .3s ease-in-out;
      z-index: 3;
      position: relative;

      &.selected{
        color: #d4d9ff;
      }

      &:hover{
        color: #d4d9ff;
      }
    }
  }

  .user-info {
    position: absolute;
    right: 130px;
    color: #fe0074;
    top: 35px;
  }
}
