
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Dosis-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Dosis-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Dosis-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/Dosis-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/TitilliumWeb-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/TitilliumWeb-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/TitilliumWeb-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Lato-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/Lato-Bold.ttf') format('truetype')
}

body, input, select {
  font-family: 'Titillium', 'Dosis', sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}
