
@font-face {
  font-family: 'STM';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/ShareTechMono-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'SCP';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/SourceCodePro-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'SCP';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/SourceCodePro-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Lato-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/Lato-Bold.ttf') format('truetype')
}

body, input, select {
  font-family: 'STM', 'SCP', sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}
