.fb-container {
  color: #d4d9ff;
  position: relative;
  height: calc(100% - 270px);
  z-index: 2;
  margin: 0 auto;
  margin-top: 50px;
  overflow: auto;
  width: calc(100% + 40px);
  padding: 50px 240px;

  .fb-no-feedback{
    font-size: 17px;
  }

  .fb-header {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .fb-item {
    margin: 40px 0;
    font-family: 'Lato', sans-serif;

    .fb-item-text {
      font-size: 17px;
      margin-bottom: 10px;
      word-break: break-word;
    }

    .fb-item-sub-text {
      font-size: 14px;
      margin-bottom: 10px;
      font-style: italic;
      color: #9ea7ff;
    }
  }
}
