.home-container {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  position: relative;

  .chum-logo {
    background-image: url("../../assets/images/chum-white.png");
    height: 200px;
    width: 400px;
    margin: 0 auto;
    background-position: center;
    background-size: 140px;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
  }

  .chum-desc {
    font-size: 24px;
    width: calc(70% - 80px);
    margin: 0 auto;
    font-weight: 500;
    color: #fff;
    z-index: 1;
    position: relative;
    font-family: 'Dosis';
  }

  .abt-info-item-container {
    overflow: hidden;
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;

    &.odd {
      flex-direction: row-reverse;
    }

    &.abt-disc {

      .abt-info-item-img {
        background-image: url("../../assets/images/new_vec_2.svg");
      }
    }

    &.abt-con {

      .abt-info-item-img {
        background-image: url("../../assets/images/new_vec_1.svg");
      }
    }

    &.abt-eng {

      .abt-info-item-img {
        background-image: url("../../assets/images/new_vec_3.svg");
      }
    }

    .abt-info-item-text {
      width: 50%;
      padding: 0 40px;

      .abt-info-item-text-header {
        font-family: 'Dosis', sans-serif;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .abt-info-item-text-body {
        font-size: 17px;
      }
    }

    .abt-info-item-img {
      width: 50%;
      height: 400px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .chum-clouds {
    position: absolute;
    width: 100%;
    top: 0;
    pointer-events: none;
    z-index: 1;

    div {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 600px;
      width: 600px;
      position: absolute;
      opacity: .7;
    }

    .cld-rt-1 {
      background-image: url("../../assets/images/cloud_1.svg");
      top: -300px;
      opacity: 1;
      left: -290px;
      transform: rotate(250deg);
    }
    .cld-rt-2 {
      background-image: url("../../assets/images/cloud_2.svg");
      top: 1000px;
      left: -480px;
    }
    .cld-lt-1 {
      background-image: url("../../assets/images/cloud_2.svg");
      top: -300px;
      right: -290px;
      opacity: 1;
      transform: rotate(
          652deg
      );
    }
    .cld-lt-2 {
      background-image: url("../../assets/images/cloud_1.svg");
      top: 600px;
      right: -550px;
      transform: rotate(
          225deg
      );
    }
  }

  .home-info-separator{
    //border-bottom: 1px solid #aaa;
    width: calc(70% - 80px);
    margin: 0 auto;
    padding-bottom: 60px;
    margin-bottom: 100px;
    z-index: 1;
    position: relative;
  }

  .get-started-button{
    margin-top: 50px;
    position: relative;
    background-color: #fff;
    color: #003899;
    opacity: .9;
    transition: opacity .2s;

    &:hover{
      opacity: 1;
      background-color: #fff;
    }
  }

  .banner{
    height: 422px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #003899;
  }
}

.sock{
  position: absolute;
  z-index: 4;
}
