.gol-wrapper-container{

  .gol-wrapper-menu-cont{
    position: absolute;
    text-align: left;
    left: 40px;
    bottom: 50px;
    color: #9ea7ff;
    line-height: 24px;

    .gw-menu-item{
      cursor: pointer;
      transition: color .3s ease-in-out;

      &:hover{
        color: #d4d9ff;
      }
    }
  }
}
