.challenges-container {
  color: #d4d9ff;
  position: relative;
  height: calc(100% - 270px);
  z-index: 2;
  margin: 0 auto;
  margin-top: 50px;
  overflow: auto;
  width: calc(100% + 40px);
  padding: 50px 240px;

  .sec-header {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .sec-sub-header {
    font-size: 17px;
    font-family: 'STM';
    margin-bottom: 10px;
  }

  .sec-item-point {
    font-family: 'Lato';
    margin: 5px 0;
  }

  .sec-item {
    margin: 60px 0;
  }
}
