.pxlt-cont {
  position: absolute;
  top: 315px;
  left: 15px;

  .pxlt-px-cont {
    border-radius: 4px;
    float: left;
    margin: 2px;
    position: relative;
    transition: background-color 2s cubic-bezier(0.645, 0.045, 0.355, 1.0);

    &.pxlt-px-selected {
      background-color: #9aa5ff;

      &:hover {
        background: #62c3ff;

        &::after{
          opacity: 1;
        }
      }

      &::after{
        opacity: 1;
      }
    }

    &:hover {
      background: #9aa5ff;
      transition: background-color 0s;
      z-index: 1;

      &::after{
        transition: opacity 0s;
        opacity: 1;
      }
    }

    &::after{
      content: "";
      height: 100%;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 0 7px 0 #9aa5ff;
      opacity: 0;
      transition: opacity 2s cubic-bezier(0.645, 0.045, 0.355, 1.0);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .pxlt-row {
    width: 100%;
    text-align: left;
    display: flex;
  }

  .pxlt-footer {
    color: #9ea7ff;
    position: relative;
    z-index: 1;
    font-size: 17px;
    text-align: right;
    margin: 6px 0;
    cursor: default;
    opacity: 0;
    transition: opacity 2s cubic-bezier(0.645, 0.045, 0.355, 1.0);

    &.live{
      opacity: 1;
    }
  }

  .text-toggler{
    background: #fe0074;
    border-radius: 4px;
    margin: 2px;
    position: absolute;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }
  }
}
