.side-button-container{
  position: absolute;
  right: -30px;
  top: calc(50% - 150px);
  z-index: 2;

  .side-button{
    color: #9ea7ff;
    transform: rotate(270deg);
    background: #061165;
    padding: 12px 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 30px 0px #020a42;
    margin-top: 80px;

    &:hover{
      color: #d4d9ff;
    }
  }
}
