.button{
  height: 40px;
  background-color: #003899;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  transition: background-color .3s ease-in;
  line-height: 38px;
  z-index: 2;
  cursor: pointer;
  padding: 0 20px;
  display: inline-block;
  font-family: Dosis;

  &:hover{
    background-color: #003ba9;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  }

  &.disabled{
    opacity: .5;

    &:hover{
      background-color: #003899;
      box-shadow: none;
    }
  }

  &.go-live{
    position: relative;
    padding-left: 30px;
    &:before{
      content: '';
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 20px;
      background: red;
      top: 50%;
      left: 15%;
      animation-duration: .5s;
      animation-name: growshrink;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      transform: translate( -15%, -50%);
    }
  }
}

@keyframes growshrink {
  from {
    height: 10px;
    width: 10px;
  }

  to {
    height: 12px;
    width: 12px;
  }
}
