.button{
  height: 40px;
  background-color: #003899;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  transition: background-color .3s ease-in;
  line-height: 38px;
  z-index: 2;
  cursor: pointer;
  padding: 0 20px;
  display: inline-block;
  font-family: Dosis;

  &:hover{
    background-color: #003ba9;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  }

  &.disabled{
    opacity: .5;

    &:hover{
      background-color: #003899;
      box-shadow: none;
    }
  }
}
