.clock-container {
  position: absolute;
  z-index: 1;
  top: 523px;

  .pip {
    margin: 4px 2px;
    background-color: transparent;
    border-radius: 4px;
    transition: all .3s ease-in;
    border: 1px solid #06119b;
  }

  .pip--on {
    background-color: #4051ef;
    border-color: #4051ef;
  }

  .clock {
    display: flex
  }

  .binary-digit-group {
    display: flex;
    float: left;
  }

  .begins-in{
    color: #9ea7ff;
    font-size: 17px;
  }

  .clock-labels{
    color: #9ea7ff;
    display: grid;
    clear: both;
    grid-template-columns: 25% 25% 25% 25%;

    div{
      float: left;
    }
  }

  .clock-hint{
    color: #9ea7ff;
  }
}
