.about-you-two-cont {
  .field-cont {
    margin-bottom: 0 !important;
    .field-input {
      .interest-search {

      }
    }
  }

  .field-cant-find {
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
  }

  .interest-caps-cont {
    overflow: auto;
    margin-top: 30px;
    max-height: 160px;

    .interest-capsule {
      height: 36px;
      line-height: 34px;
      border: 1px solid #c2c5cc;
      margin: 0 5px 5px 0;
      display: inline-block;
      padding: 0 15px;
      border-radius: 50px;
      cursor: pointer;
      user-select: none;

      &.selected {
        border-color: #1f4594;
        box-shadow: 0px 0px 0px 2px inset #1f4594;
      }
    }
  }

  .sel-int-cont {
    margin: 30px 0;

    .sel-int-abt {
      font-family: Dosis;
      font-size: 20px;
      font-weight: 500;
    }

    .sel-int-otm {
      font-family: Dosis;
      font-size: 13px;
      margin-bottom: 20px;
    }

    .sel-int-header {
      overflow: hidden;
      font-size: 13px;

      .sel-int-emp {
        width: calc(100% - 260px);
        float: left;
        height: 1px;
      }
      .sel-int-amateur {
        width: 70px;
        float: left;
      }
      .sel-int-pro {
        width: 70px;
        float: left;
        text-align: right;
      }
      .sel-int-otm {
        width: 120px;
        float: left;
        text-align: right;
      }
    }
    .sel-int-body {

      .sel-int-item-cont {
        overflow: hidden;

        .sel-int-label {
          float: left;
          line-height: 40px;
          width: calc(100% - 260px);
        }

        .int-level-cont {
          float: left;
          width: 140px;
          display: flex;
          justify-content: space-between;
          height: 40px;
          align-items: center;

          .int-level-circle {
            height: 20px;
            width: 20px;
            border-radius: 20px;
            border: 1px solid #c2c5cc;
            cursor: pointer;

            &.selected {
              border-color: #1f4594;
              background: #1f4594;
            }
          }
        }

        .int-otm-cont {
          width: 120px;
          float: left;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 0 1px;

          .int-otm-circle {
            height: 20px;
            width: 20px;
            border-radius: 20px;
            border: 1px solid #c2c5cc;
            cursor: pointer;
          }
          &.selected {

            .int-otm-circle {
              border-color: #1f4594;
              background: #1f4594;
            }
          }
        }
      }
    }
  }
}

.about-you-cont {
  .field-cont {
    margin-bottom: 30px;

    .field-label {
      color: #1c1b1a;
      margin-bottom: 5px;
      font-size: 13px;
      font-family: Dosis;
      font-weight: 500;
    }

    .field-input {
      margin-bottom: 10px;

      input, select, textarea {
        color: #1c1b1a;
        background: rgba(255, 255, 255, 0.04);
        border: 1px solid #c2c5cc;
        line-height: 34px;
        outline: none;
        width: 100%;
        border-radius: 4px;
        padding: 1px 10px;
        height: 38px;
      }

      textarea {
        padding: 8px;
        line-height: 20px;
        height: 100px;
      }

      option {
        color: #111;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px rgb(16, 26, 108) inset !important;
      }

      input:-webkit-autofill {
        -webkit-text-fill-color: #d4d9ff !important;
      }
    }
  }
}
