.search-channel-cont{
  display: flex;

  input {
    font-family: Dosis;
    color: #1c1b1a;
    border: 1px solid #c2c5cc;
    line-height: 34px;
    outline: none;
    width: 100%;
    border-radius: 4px;
    padding: 1px 10px;
  }

  .button{
    float: right;
    margin-left: 10px;
  }
}
