.form-cont {
  z-index: 2;
  width: 800px;
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  min-height: 490px;

  .vect-cont {
    background-color: #1f4594;
    background-image: url("../../assets/images/sign-up-new-scheme.svg");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    width: 300px;

    &.sign-in{
      background-image: url("../../assets/images/sign-in-new-scheme.svg");
    }
  }

  .fields-cont {
    width: calc(100% - 300px);
    padding: 40px;
    text-align: left;
  }

  .form-header {
    font-size: 24px;
    color: #1c1b1a;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: Dosis;
  }

  .form-sub-header {
    font-size: 13px;
    color: #1c1b1a;
    opacity: .8;
    margin-bottom: 40px;
  }

  .form-msg {
    color: #d4d9ff;
    margin-bottom: 50px;
  }

  .field-cont {
    margin-bottom: 30px;

    .field-label {
      color: #1c1b1a;
      margin-bottom: 5px;
      font-size: 13px;
      font-family: Dosis;
      font-weight: 500;
    }

    .field-input {
      margin-bottom: 10px;

      input, select, textarea {
        color: #1c1b1a;
        background: rgba(255, 255, 255, 0.04);
        border: 1px solid #c2c5cc;
        line-height: 34px;
        outline: none;
        width: 100%;
        border-radius: 4px;
        padding: 1px 10px;
      }

      textarea {
        padding: 8px;
        line-height: 20px;
        height: 100px;
      }

      option {
        color: #111;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px rgb(16, 26, 108) inset !important;
      }

      input:-webkit-autofill {
        -webkit-text-fill-color: #d4d9ff !important;
      }
    }

    .field-help {
      color: #3e4ff5;
      font-size: 14px;
    }

    .you-may-change {
      color: #9ea7ff;
      font-size: 14px;
    }
  }

  .error-box {
    color: red;
    margin-bottom: 20px;
    font-size: 14px;
  }

  &.login {
  }

  .loading {
    margin: 150px 0;
  }
}
